body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* @media ( prefers-color-scheme: dark ) {
  .container {
    background: #333;
    color: #fff;
  }
  strong {
    color: #fff;
  }
}

@media ( prefers-color-scheme: light ) {
  .container {
    background: #ddd;
    color: #000;
  }
} */


video {
  width: 100%;
  height: auto;
}

.container {
  padding-top: 20px;
  text-align: center;
}

p {
  text-align: center;
}

.timer-wraaper {
  width: 100%;
  padding: 100px 0;
}

.timer-wraaper input {
  display: block;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 50px;
}
.timer-wraaper .button__group {
  display: flex;
  justify-content: space-around;
}